@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque',sans-serif;
    user-select: none;
}
html,
body {
    height: 100%;
    width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card{
  height: 280px;
  width: 240px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 0px 18px rgba(0, 0, 0, 0.2);
}
.card .top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.top img{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
  object-fit: cover;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
  font-weight: 600;
}
.top button:hover{
  cursor: pointer;
  background-color: #9f0af545;
  color: rgb(255, 0, 187);
  
}
.bookmark-icon:hover{
  /* stroke: #fc30e4; */
  color: rgb(255, 0, 187);
}

.center h3{
  font-size: 22px;
  font-weight: 800;
  color: #000000;
}
.center h3 span{
  font-size: 8px;
  font-weight: 400;
  color: #0400ff;
  padding-left: 5px;
  
}

.center h2{
  font-size: 12px;
  font-weight: 500;
  color: #9630fc;
  font-style: italic;

}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center .tag h4{
  font-size: 8px;
  background-color: #e4e4e4;
  color: #000000;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7ce;
  padding-top: 15px;
}

.bottom button{
  background-color: rgb(50, 125, 245);
  color: rgb(255, 255, 255);
  padding: 7px 16px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  column-width: 600;
  transition: transform 0.15s ease;
}
.bottom button:hover{
  cursor: pointer;
  background-color: rgb(50, 108, 255);;
  box-shadow: 0 5px 10px rgba(78, 51, 255, 0.2);
  color: rgb(255, 255, 255);
  transform: scale(0.96);
}

.bottom h3{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
  color: rgb(174, 91, 253);
}
.bottom p{
  font-size: 8px;
  color: #fc30e4;
}